fastapi[all]           
# API 서버 및 데이터 검증
sqlalchemy            
 # 파이썬 DB 관리 도구 (ORM)
psycopg2-binary       
 # PostgreSQL 파이썬 드라이버
alembic               
 # DB 테이블 구조 변경 관리 (추천)
python-dotenv         
 # .env 파일 읽기용
uvicorn              
  # fastAPI 서버를 실행해주는 엔진