beautifulsoup4
fastapi
uvicorn
requests
sqlalchemy            
 # 파이썬 DB 관리 도구 (ORM)
psycopg2-binary       
 # PostgreSQL 파이썬 드라이버
python-dotenv 
 # db 환경파일 접근 용도 
 alembic 
 # db 테이블 수정 용도